@import '../../colors.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  min-height: 100vh;
}

.read__container {
  width: 100%;
  max-width: 1200px;
  background-color: #f7f7f7;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  margin-top: 4em;
}

.read-message-title {
  font-size: 2rem;
  margin-bottom: 1.2em;
  text-align: center;
  display: flex;
  justify-content: center;  
  color: $dark-blue; /* Adjust as needed */
}

.loading {
  text-align: center;
  font-size: 1.2rem;
  color: $dark-blue;
}

.error {
  text-align: center;
  font-size: 1.2rem;
  color: red;
  margin: 1em 0;
}


ul {
  list-style-type: none;
  padding: 0;

  li {
    padding: 0.5em 10px;
    border-bottom: 1px solid #ddd;
    text-align: justify;

    .index {
      font-weight: bold;
      margin-right: 0.5em;
      color: #193659; /* Adjust as needed */
    }

    p {
      margin: 0;
      color: #333;
    }

    &.highlight {
      background-color: $mid-gray; /* Adjust highlight color as needed */
    }
  }
}

/* Scroll-to-top button styles */
.read__container {
  position: relative;
}

/* Responsive Design */
@media (max-width: 600px) {
  .read__container {
    padding: 1em;
  }

  .message-title {
    font-size: 1.2rem;
  }

  li {
    padding: 0.3em 0;

    .index {
      margin-right: 0.3em;
    }
  }
}
