.read {
  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: calc(min(60%, 60rem));
    margin-top: 3.5em;

    ul {
      list-style-type: none;
      padding-inline-start: unset;

      li {
        padding: 1em 1.3em;
      }

      p {
        &:not(:first-child) {
          margin-top: 1em;
        }
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

.index {
  font-weight: bold;
}
