.center {
  display: block;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.title {
  width: 100%;
  padding-top: 5em;
  text-align: center;

  h1 {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    margin-bottom: 3rem;
  }
}

.MuiDataGrid-root {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.MuiDataGrid-main {
  height: 60vh;
}

.MuiIconButton-root {
  color: black !important;
}

@media only screen and (max-width: 770px),
  (orientation: landscape) and (max-width: 1300px) {
  .MuiDataGrid-main {
    height: 60vmax;
  }
}
