@import '../../colors.scss';

.read-all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5em 2.5em 2em;
  min-height: 100vh;
  background-image: url('../../assets/44.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  overflow-y: auto;
}

.title-section {
  width: 100%;
  padding-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 1.5em;
    font-size: 50px;
    color: $dark-blue;

    @media (max-width: 600px) {
      font-size: 2rem;
    }
  }

  .error-message {
    color: $error-red;
    font-size: 1rem;
    margin-top: 1rem;
  }
}

.data-grid-container {
  width: 100%;
  max-width: 1500px;
  box-shadow: 0px 4px 20px $dark-blue;
  background-color: $white;
  border-radius: 8px;
  height: 65vh;

  @media (min-device-width: 300px) and (max-device-width: 1200px) and (orientation: landscape) {
    height: 60vmax;
  }

  @media (max-width: 770px) {
    height: 60vh;
  }

  @media (min-width: 2000px) {
    height: 72vh;
  }

  .MuiDataGrid-toolbarContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: $mid-gray;
    border-bottom: 1px solid $dark-blue;
  }

  .MuiDataGrid-root {
    border: none;
    border-radius: 8px;

    .MuiDataGrid-cell {
      white-space: normal;
      word-wrap: break-word;
      font-family: 'Roboto', sans-serif; 
    }

    .MuiDataGrid-columnHeaders {
      color: $dark-blue;
      font-size: 1rem;
      font-weight: bold;
    }

    .MuiDataGrid-row {
      &:nth-of-type(even) {
        background-color: $light-gray;
      }

      &:hover {
        background-color: $mid-gray;
      }
    }

    .MuiDataGrid-footerContainer {
      background-color: $mid-gray;
      color: $dark-blue;
      border-top: 1px solid $dark-blue;
    }

    .MuiDataGrid-iconButtonContainer {
      color: $dark-blue;
    }
  }
}

@media (max-width: 600px) {
  .data-grid-container {
    height: 70vh;
    max-width: 90vw;
  }

  .title-section {
    padding-top: 3em;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
}
