@import '../../colors.scss';

.typing-title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: $dark-blue;
}

.cursor {
  display: inline-block;
  background-color: $dark-blue;
  width: 0.1em;
  margin-left: -5px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 0; }
  50% { opacity: 1; }
}

@media (max-width: 760px), (hover: none) {
  .typing-title {
    white-space: wrap;
    font-size: 2.8rem;
    height: 110px;
  }

  .cursor {
    width: 8px;
    margin-left: 1px;
    animation: blink 1s step-end infinite;
  }
}