.home-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../44.webp'); /* Update the path */
  background-size: cover;
  background-position: center;
}

.home-content {
	display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
  padding: 20px;
}
