.wrapper {
  display: inline-flex;
  background: #fff;
  height: 45px;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-top: 1.5em;
}
.wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  max-width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  height: 18px;
  width: 18px;
  background: var(--gray-color);
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background: var(--dark-color);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3 {
  border-color: var(--dark-color);
  background: var(--dark-color);
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 18px;
  color: var(--dark-color);
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span {
  color: #fff;
}

@media (max-width: 660px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 90%;
    margin-top: 0.5em;
  }

  .wrapper .option {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .wrapper .option .dot {
    margin-right: 15px;
  }
}
