@import '../../colors.scss';

$input-height: 3em;

.search {
  &__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

    &__label {
      text-transform: uppercase;
      text-align: center;
      font-size: 50px;
    }
    &__title {
      margin-bottom: 1.5em;
      text-align: center;
      
      .typing-title {
        color: $dark-blue;
        margin: 0;
      }
    }

    &__input-container {
      width: 100%;
      max-width: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
  
      input {
        width: 100%;
        padding: 15px 20px;
        font-size: 1.2rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        transition: box-shadow 0.3s ease;
  
        &:focus :hover {
          outline: none;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
      }
    }

    ul {
      list-style-type: none;
      padding-inline-start: unset;
      opacity: 0;
      max-width: 60em;

      li {
        margin: 2.5em 15px;
        padding: 1em 1.3em;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-radius: 10px;
        background-color: $very-light-gray;

        &:first-child {
          margin-top: 1.5em;
        }

        &:last-child {
          margin-bottom: 5em;
        }

        &:hover {
          cursor: pointer;
          animation-name: example;
          animation-duration: 0.3s;
          box-shadow: 0 0px 20px $dark-blue,
            0 0px 15px $light-gray;
        }
      }

      p {
        &:not(:first-child) {
          margin-top: 1em;
        }
        color: rgba(0, 0, 0, 0.7);
      }

      .underline {
        width: 4em;
        margin-top: 10px;
        border-bottom: 4px solid $gray-blue;
      }
    }
  }
}

.copy-button {
  display: none;
}

.MuiButton-outlined {
  border: 3px solid var(--dark-color) !important;
}

.transition {
  opacity: 1 !important;
  transition: 0.7s ease-in;
  height: -webkit-fill-available;
}

.no-results-found {
  height: 100%;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.message-title {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.makeStyles-margin-2 {
  display: none !important;
}

.MuiFormGroup-row {
  flex-direction: column !important;
}

.number-of-results {
  text-align: left;
}

.MuiSelect-select.MuiSelect-select {
  display: flex;
  align-items: center;
}

.info-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;

  h5 {
    font-size: 18px;
  }
}

@media only screen and (max-height: 770px) and (min-width: 1100px) {
  .search {
    &__container {
      margin-bottom: 6em;
    }
  }
}

@media only screen and (max-width: 500px) {
  .search {
    &__container {
      &__title {
        &__h2 {
          font-size: 7vmin;
        }

        &__h1 {
          font-size: 16vmin;
        }
        &__description {
          font-size: 4vmin;
          margin: 1em 2em;
        }
      }
    }
  }
  .info-div {
    flex-direction: column;
  }
}

@media only screen and (min-width: 793px) {
  h1 {
    letter-spacing: 5px;
    margin-bottom: 1rem;
    text-align: start;
  }

  .search {
    &__container {
      width: 90%;
      justify-content: center;

      &__title {
        flex-direction: row;

        &--align {
          text-align: left;
          align-self: center;
        }

        &__description {
          margin: 0;
        }
      }
      li {
        flex-direction: row;
        position: relative;

        &:hover .copy-button {
          display: flex;
          position: absolute;
          right: 20px;
          margin: 10px 0;
        }
      }
    }

    &__form {
      max-width: 63em;
      margin-top: 1em;
    }
  }

  .makeStyles-margin-2 {
    display: flex !important;
  }

  .MuiFormGroup-row {
    flex-direction: row !important;
  }

  .contacts {
    bottom: 0;
  }
}
