$input-height: 2.5em;
$input-height-desktop: 3em;

.search {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;

    ul {
      list-style-type: none;
      padding-inline-start: unset;
      opacity: 0;

      li {
        margin-top: 15px;
        padding: 1em 1.3em;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        border-left: 8px solid transparent;
        border-radius: 10px;

        &:first-child {
          margin-top: 1.5em;
        }

        &:last-child {
          margin-bottom: 5em;
        }

        &:hover {
          cursor: pointer;
          animation-name: example;
          animation-duration: 0.3s;
          border-left: 8px solid var(--yellow-color);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        }
      }

      p {
        &:not(:first-child) {
          margin-top: 1em;
        }
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  &__input {
    width: 100%;
    height: $input-height;
    margin-top: 1em;
    padding-left: 15px;
    border-width: 1px;
    border-radius: 50px;
    outline: none;
  }

  &__input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    position: absolute;
    right: 40px;
    font-size: 1.3em;
    background: black;
  }

  &__input:hover,
  &__input:focus {
    box-shadow: 0 0pt 1pt 1pt rgba(0, 0, 0, 0.35);
    border: none;
    transition: 0.4s;
  }

  &__button {
    height: $input-height;
    width: $input-height;
    border: 0px;
    background-color: unset;
    margin-left: -40px;
    margin-top: 1.03em;
  }

  &__form {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.transition {
  opacity: 1 !important;
  transition: 0.7s ease-in;
}

h1 {
  margin-bottom: 0.4em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 3ch;
}

.message-title {
  font-weight: bold;
}

@media (min-width: 770px) {
  h1 {
    font-size: 5ch;
    margin-bottom: 1rem;
  }

  .search {
    &__container {
      width: calc(min(55%, 70em));
    }

    &__input {
      height: $input-height-desktop;
    }

    &__input[type="search"]::-webkit-search-cancel-button {
      right: 43px;
    }

    &__button {
      height: $input-height-desktop;
      width: $input-height-desktop;
      margin-left: -50px;
      margin-top: 1.04em;
    }
  }
}
