.nav-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(32, 32, 32, 0.1);
  text-decoration: none;
  list-style: none;
  height: 3rem;

  a {
    color: black;
  }

  .active > a {
    color: rgb(255, 223, 108);
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid grey;
    color: rgb(55, 73, 107);
  }

  li {
    list-style-type: none;
    display: inline;
    margin: 0 10px;
  }
}
ul {
  padding-inline-start: 0;
}
