body {
  background: var(--secondary-color);
  box-sizing: content-box;
}

.menu {
  position: fixed;
  height: 100vh;
  background: var(--dark-color);
  width: 10vw;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  transition: 1s;
  z-index: 3;

  &__icon--desktop {
    display: flex;
    justify-content: center;
    color: var(--gray-color);
    font-size: 12.5vmin;
    transition: 0.5s ease-in-out;
  }

  &:hover,
  &:focus {
    width: 18vw;
    height: 100%;
  }

  &:active {
    width: 18vw;
  }

  &:hover ~ .container,
  &:focus ~ .container {
    transform: translateX(12vw);
  }

  &:hover,
  &:focus {
    .menu__icon--desktop {
      margin-left: -5em;
    }
  }

  &:hover nav,
  &:focus nav {
    left: 13%;
  }
}

.container {
  margin-left: 10vw;
  background: white;
  transition: 1s;
  transform-origin: left center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

nav {
  position: absolute;
  margin-top: 50%;
  left: -1000px;
  transition: 0.5s;

  ul {
    color: var(--gray-color);
    text-transform: uppercase;
    list-style-type: none;
    padding-inline-start: unset;
  }

  li {
    position: relative;
    letter-spacing: 0.3em;
    width: fit-content;
    &:first-of-type {
      margin-bottom: 1.5em;
    }
  }

  a {
    font-size: 3vmin;
    text-decoration: none;
    color: var(--grey-color);
    font-weight: 600;
    &::after {
      content: "";
      height: 3px;
      width: 0;
      background: var(--yellow-color);
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }
}

p {
  line-height: 1.5em;
}

@media (max-width: 760px), (hover: none) and (pointer: coarse) {
  .menu {
    position: fixed;
    z-index: 3;
    height: 3.4em;
    width: 100vw;
    bottom: 0;

    &__icon--desktop {
      display: none;
    }

    &:hover,
    &:focus {
      width: 100%;
      height: 3.4em;
    }

    &:hover ~ .container,
    &:focus ~ .container {
      transform: unset;
    }
  }

  .container {
    width: 100%;
    margin-left: 0px;
    min-height: calc(100vh - 3em);
    padding-bottom: 5em;
  }

  nav {
    position: unset;
    transition: unset;
    width: 100%;
    height: 100%;
    margin-top: 0;

    a {
      font-size: 1em;
    }

    li {
      letter-spacing: 0.2em;
      &:last-of-type {
        margin-top: 0;
      }

      &:first-of-type {
        margin-bottom: 0;
      }
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
    }
  }
}

@media (max-width: 1100px) {
  .menu {
    &__icon--desktop {
      font-size: 9vmin;
    }
  }
}

@media (min-width: 2000px) {
  .menu {
    width: 8vw;

    &:hover {
      width: 14vw;
    }

    &:hover ~ .container {
      transform: translateX(8vw);
    }
  }
  .container {
    margin-left: 8vw;
  }
}
