@import 'colors.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  background: $light-gray;
  transition: 1s;
  transform-origin: left center;
  min-height: 100vh;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url('../public/44.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-y: auto;
}

nav {
  position: absolute;
  margin-top: 80%;
  left: -1000px;
  transition: 0.5s;

  ul {
    color: var(--gray-color);
    text-transform: uppercase;
    list-style-type: none;
    padding-inline-start: unset;
  }

  li {
    position: relative;
    letter-spacing: 0.3em;
    width: fit-content;
    &:first-of-type {
      margin-bottom: 1.5em;
    }
  }

  a {
    font-size: 3vmin;
    text-decoration: none;
    color: var(--grey-color);
    font-weight: 600;
    &::after {
      content: "";
      height: 3px;
      width: 0;
      background: var(--yellow-color);
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

p {
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: $dark-blue;
}

button {
  cursor: pointer;
}

@media (max-width: 760px), (hover: none) and (pointer: coarse) {
  .menu {
    position: fixed;
    z-index: 3;
    height: 3.4em;
    width: 100vw;
    bottom: 0;

    &__logo {
      display: none;
    }

    #menuIcon {
      display: none;
    }

    &:hover,
    &:focus {
      width: 100%;
      height: 3.4em;
    }

    &:hover ~ .container,
    &:focus ~ .container {
      transform: unset;
    }
  }

  .container {
    width: 100%;
    margin-left: 0px;
    padding-bottom: 5em;
  }

  .contacts {
    position: absolute;
    height: 3.4em;
    margin-bottom: 3.4em;
  }

  nav {
    position: unset;
    transition: unset;
    width: 100%;
    height: 100%;
    margin-top: 0;

    a {
      font-size: 1em;
    }

    li {
      letter-spacing: 0.2em;
      &:last-of-type {
        margin-top: 0;
      }

      &:first-of-type {
        margin-bottom: 0;
      }
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
    }
  }
}

@media (max-width: 1100px) {
  #menu-icon {
    font-size: 9vmin;
  }
}

@media (min-width: 2000px) {
  .menu {
    width: 8vw;

    &:hover {
      width: 14vw;
    }

    &:hover ~ .container {
      transform: translateX(8vw);
    }
  }
  .container {
    margin-left: 8vw;
  }
}
