body {
  background: #3a3a42;
  box-sizing: content-box;
}

.menu {
  position: fixed;
  height: 100vh;
  background: var(--yellow-color);
  width: 10vw;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  transition: 1s;

  &__icon--desktop {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10vw;
    transition: 0.5s ease-in-out;
  }

  &:hover {
    width: 22vw;
  }
  &:hover ~ .container {
    transform: translateX(15vw);
  }

  &:hover {
    .menu__icon--desktop {
      margin-left: -5em;
    }
  }

  &:hover nav {
    left: 13%;
  }
}

.container {
  width: 90vw;
  margin-left: 10vw;
  background: #fdfdfd;
  transition: 1s;
  transform-origin: left center;
  color: #d2d2d0;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
}

nav {
  position: absolute;
  margin-top: 50%;
  left: -1000px;
  transition: 0.5s;
  ul {
    color: white;
    text-transform: uppercase;
    list-style-type: none;
    padding-inline-start: unset;
  }

  li {
    line-height: 2em;
    letter-spacing: 0.3em;
  }

  a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    &:hover {
      color: #eee;
    }
  }
}

p {
  line-height: 1.5em;
}

h2 {
  color: #bbb;
}

h1 {
  margin-bottom: 0.4em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 3ch;
}

@media (max-width: 760px) {
  .menu {
    position: fixed;
    height: 3em;
    width: 100vw;
    bottom: 0;

    &__icon--desktop {
      display: none;
    }

    &:hover {
      width: 100%;
    }

    &:hover ~ .container {
      transform: unset;
    }
  }

  .container {
    width: 100%;
    margin-left: 0px;
  }

  nav {
    position: unset;
    transition: unset;
    width: 100%;
    height: 100%;
    margin-top: 8px;

    a {
      font-size: 100%;
    }

    li {
      letter-spacing: 0.2em;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
