/* .nav-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(32, 32, 32, 0.1);
  text-decoration: none;
  list-style: none;
  height: 3rem;

  a {
    color: black;
  }

  .active > a {
    color: rgb(255, 223, 108);
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid grey;
    color: rgb(55, 73, 107);
  }

  li {
    list-style-type: none;
    display: inline;
    margin: 0 10px;
  }
}
ul {
  padding-inline-start: 0;
} */

body {
  background: #3a3a42;
  box-sizing: content-box;
}

.menu {
  position: fixed;
  height: 100vh;
  background: #f9d401;
  width: 10vw;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  transition: 1s;
  &:hover {
    width: 20vw;
  }
  &:hover ~ .container {
    transform: perspective(70vw) rotateY(5deg) translateX(15vw) scaleY(1.2);
  }
  &:hover nav {
    left: 20%;
  }
}

.container {
  width: 90%;
  margin-left: 10vw;
  background: #fdfdfd;
  transition: 1s;
  transform-origin: left center;
  color: #d2d2d0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

nav {
  position: absolute;
  margin-top: 50%;
  left: -1000px;
  transition: 0.5s;
  ul {
    color: white;
    text-transform: uppercase;
    list-style-type: none;
    padding-inline-start: unset;
  }

  li {
    line-height: 2em;
    letter-spacing: 0.3em;
  }

  a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    &:hover {
      color: #eee;
    }
  }
}

p {
  line-height: 1.5em;
}

h2 {
  color: #bbb;
}

@media (max-width: 800px) {
  .menu {
    &:hover {
      width: 30vw;
    }
    &:hover ~ .container {
      transform: translateX(25vw);
    }
  }

  nav {
    margin-top: 100%;
    top: 50px;
    a {
      font-size: 100%;
      text-decoration: none;
      color: white;
      font-weight: 600;
    }

    li {
      line-height: 1.5em;
      letter-spacing: 0.2em;
    }
  }
}
