$light-gray: #F2F4F8; // main background 
$mid-gray: #DADDE3; // Borders, Subtle Backgrounds
$very-light-gray: #ECEFF4; // Input/Secondary Background
$dark-blue: #193659; // Main Text/Heading
$soft-blue: #0f5bac; // Button/Link Hover, Accent
$gray-blue: #9fa6b0; // Inactive/Disabled States