:root {
  --dark-color: #193659;
  --gray-color: #9fa6b0;
  --secondary-color: #DADDE3;
  overflow-x: hidden;
}

mark {
  background: var(--yellow-color);
  color: black;
}

body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 48px;
  margin-bottom: 0.4em;
  text-align: center;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

p {
  font-family: "Merriweather";
  font-size: 18px;
}
