:root {
  --yellow-color: #ffe44a;
  --dark-color: #333333;
  --gray-color: #f5f5f5;
  --secondary-color: #b0b0b0;
}

body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 48px;
  margin-bottom: 0.4em;
  text-align: center;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

p {
  font-family: "Merriweather";
}
